[Desktop Entry]
Name=Mozilla Composer
Comment=Mozilla Composer
Comment[pl]=Mozilla - Projektant stron WWW
Exec=mozilla -edit
Icon=mozilla
Terminal=false
Type=Application
Categories=Development;WebDevelopment;
# vi: encoding=utf-8
