[Desktop Entry]
Name=Mozilla Addessbook
Name[pl]=Książka adresowa Mozilli
Exec=mozilla -addressbook
Icon=mozilla.png
Terminal=0
Type=Application
Categories=Utility
Encoding=UTF-8
# vi: encoding=utf-8
