[Desktop Entry]
Name=Mozilla Mail
Name[pl]=Poczta Mozilli
Exec=mozilla -mail
Icon=mozilla
Terminal=false
Type=Application
Categories=Network;Email;
# vi: encoding=utf-8
