[Desktop Entry]
Encoding=UTF-8
Name=Mozilla Composer
Comment=Mozilla Composer
Comment[pl]=Mozilla - Projektant stron WWW
Exec=mozilla -edit
Icon=mozilla.png
Terminal=false
Type=Application
Categories=Development;WebDevelopment;
# vi: encoding=utf-8
