[Desktop Entry]
Name=Mozilla Chat
Name[pl]=Chat Mozilli
Exec=mozilla -chat
Icon=mozilla
Terminal=false
Type=Application
Categories=Network;IRCClient;
# vi: encoding=utf-8
