[Desktop Entry]
Name=Mozilla
Name[pl]=Mozilla
Comment=Web browser
Comment[pl]=Przegl±darka WWW
Exec=mozilla
Icon=mozilla-icon.png
Terminal=0
Type=Application
