[Desktop Entry]
Name=Mozilla Venkman
Name[pl]=Mozilla Venkman
Comment=JavaScript Debugger
Comment[pl]=Debugger JavaScript
Exec=mozilla -venkman
Icon=mozilla
Terminal=false
Type=Application
Categories=Development;WebDevelopment;
# vi: encoding=utf-8
