[Desktop Entry]
Name=Mozilla
Name[pl]=Mozilla
Comment=Web browser
Comment[pl]=Przeglądarka WWW
Exec=mozilla
Icon=mozilla.png
Terminal=0
Type=Application
Categories=Network;WebBrowser
Encoding=UTF-8
# vi: encoding=utf-8
