[Desktop Entry]
Encoding=UTF-8
Name=Mozilla Chat
Name[pl]=Chat Mozilli
Exec=mozilla -chat
Icon=mozilla.png
Terminal=false
Type=Application
Categories=Network;IRCClient;
# vi: encoding=utf-8
