[Desktop Entry]
Name=Mozilla
Name[pl]=Mozilla
Comment=Web browser
Comment[pl]=Przegl±darka WWW
Exec=mozilla-bin
Icon=mozilla-icon.xpm
Terminal=0
Type=Application
