[Desktop Entry]
Encoding=UTF-8
Name=Mozilla jConsole
Name[pl]=Mozilla jConsole
Comment=JavaScript Console
Comment[pl]=Konsola JavaScript
Exec=mozilla -jconsole
Icon=mozilla.png
Terminal=false
Type=Application
Categories=Network;X-Misc;
# vi: encoding=utf-8
