[Desktop Entry]
Encoding=UTF-8
Name=Mozilla Mail
Name[pl]=Poczta Mozilli
Exec=mozilla -mail
Icon=mozilla.png
Terminal=false
Type=Application
Categories=Network;Email;
# vi: encoding=utf-8
