[Desktop Entry]
Name=Mozilla jConsole
Name[pl]=Mozilla jConsole
Comment=JavaScript Console
Comment[pl]=Konsola JavaScript
Exec=mozilla -jconsole
Icon=mozilla
Terminal=false
Type=Application
Categories=Development;WebDevelopment;
# vi: encoding=utf-8
