[Desktop Entry]
Name=Mozilla Chat
Name[pl]=Chat Mozilli
Exec=mozilla -chat
Icon=mozilla.png
Terminal=0
Type=Application
Categories=Network;X-Communication
# vi: encoding=utf-8
