[Desktop Entry]
Name=Mozilla Terminal
Name[pl]=Terminal Mozilli
Exec=mozilla -terminal
Icon=mozilla
Terminal=false
Type=Application
Categories=Network;X-Misc;
# vi: encoding=utf-8
