[Desktop Entry]
Name=Mozilla News
Name[pl]=Czytnik Newsów Mozilli
Exec=mozilla -news
Icon=mozilla.png
Terminal=false
Type=Application
Categories=Network;News;
Encoding=UTF-8
# vi: encoding=utf-8
