[Desktop Entry]
Name=Mozilla Venkman
Name[pl]=Mozilla Venkman
Comment=JavaScript Debugger
Comment[pl]=Debugger JavaScript
Exec=mozilla -venkman
Icon=mozilla.png
Terminal=0
Type=Application
Categories=Network;X-Misc
# vi: encoding=utf-8
